<div class="container-fluid">
    <h2 class="text-center">Create Your Quote</h2>
    <hr>
    <form>
        <div class="form-group">
            <label for="poster">Username </label><br><br>
            <input type="text"  class="form-control"  id="poster"  #poster='ngModel' [(ngModel)]="newQuote.poster" name='poster' required>
           
        </div>   
        <div class="form-group">
  
            <label for="name">Type of Quote</label><br><br>
            <input type="text"  class="form-control" #name='ngModel' [(ngModel)]="newQuote.name"s  name="name" id="name" required>
  
           
        </div> 
        <div class="form-group">
  
            <label for="description">Enter Your quote</label><br><br>
            <textarea class="form-control" id="description"  #description="ngModel"  rows="2" [(ngModel)]="newQuote.description" name="description" required></textarea>
  
           
        </div>
        <div class="form-group">
  
            <label for="author">The Author</label><br><br>
            <input type='text' id="author" class="form-control" #author='ngModel' [(ngModel)]="newQuote.author" name="author" required>
  
           
        </div><br>
     <button type="submit" class="btn btn-outline-success submit">Add Quote</button>
    </form>
  </div>  